<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="">
            <nav th:replace="layout :: menu">(menu)</nav>

            <div class="card" style="margin:2%;">
                <div class="card-header">
                    <h5 style="text-align: center; margin: 1% 0 2% 0;">Cadastro de Usuário</h5>
                </div>
                <div class="card-body">
                    <form th:action="@{/usuario/(form)}" th:object="${usuario}" method="POST" enctype="multipart/form-data" style="margin: 1%;">
                        <div class="form-row">
                            <input type="hidden" th:field="*{id}">

                            <div class="form-group col-md-4">
                                <label >Foto</label>
                                <input type="file" name="file" class="form-control-file" onchange="readURL(this);">
                            </div>
                            <div class="form-group col-md-4">
                                <div class="row" style="padding-left: 1em;">
                                    <img id="foto" th:src="@{'/usuario/image/'+*{id}}" style="width: 100px; height: 100px;">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label >Nome</label>
                                <input type="text" th:field="*{nome}" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label >Sobrenome</label>
                                <input type="text" th:field="*{sobrenome}" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label >Idade</label>
                                <input type="text" th:field="*{idade}" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label >Nickname</label>
                                <input type="text" th:field="*{nickName}" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label >E-mail</label>
                                <input type="email" th:field="*{email}" class="form-control" placeholder="nome@exemplo.com">
                            </div>
                            <div class="form-group col-md-4">
                                <label >Jogos</label>
                                <input type="text" th:field="*{jogos}" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label >Endereço</label>
                                <input type="text" th:field="*{endereco}" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label >Data de Nascimento</label>
                                <input type="date" th:field="*{dataNascimento}" class="form-control" >
                            </div>
                            <div class="form-group col-md-4">
                                <label >Login</label>
                                <input type="text" th:field="*{login}" class="form-control">
                            </div>
                            <div class="form-group col-md-4">
                                <label >Senha</label>
                                <input type="text" th:field="*{senha}" class="form-control">
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </form>
                </div>
              </div>

            <!-- <div class="border border-dark">
                <form th:action="@{/usuario/(form)}" th:object="${usuario}" method="POST"
                    enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                            </div>
                            <img th:src="@{'/usuario/image/'+*{id}}" style="width: 100px; height: 100px;">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>Foto:</label>
                                <input type="file" name="file" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label>Nome:</label>
                                <input type="text" th:field="*{nome}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label>Sobrenome:</label>
                                <input type="text" th:field="*{sobrenome}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label>Idade:</label>
                                <input type="text" th:field="*{idade}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label>Nickname:</label>
                                <input type="text" th:field="*{nickName}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label>E-mail:</label>
                                <input type="text" th:field="*{email}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6"> 
                                <label>Jogos:</label>
                                <input type="text" th:field="*{jogos}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6"> 
                                <label>Endereço:</label>
                                <input type="text" th:field="*{endereco}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6"> 
                                <label>Data de nascimento:</label>
                                <input type="text" th:field="*{dataNascimento}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6"> 
                                <label>Login:</label>
                                <input type="text" th:field="*{login}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6"> 
                                <label>Senha:</label>
                                <input type="text" th:field="*{senha}" class="form-control">
                            </div>
                        </div>
                    </div>

                    
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div> -->
        </div>
        <div th:include="layout :: footer">(footer)</div>
        <script>
            function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#foto')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
    </body>
</html> 