<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <a th:href="@{/usuario/novo}" class="btn btn-primary">Novo Usuario</a>
            <table class="table" id="usuarios">
                <thead>
                    <tr>
                        <th>Nome:</th>
                        <th>Sobrenome:</th>
                        <th>Idade:</th>
                        <th>Nickname:</th>
                        <th>E-mail:</th>
                        <th>Jogos:</th>
                        <th>Endereço:</th>
                        <th>Data de nascimento:</th>
                        <th>Login:</th>
                        <th>Senha:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" th:each="umusuario : ${listaUsuarios}">
                        <td th:text="${umusuario.nome}"></td>
                        <td th:text="${umusuario.sobrenome}"></td>
                        <td th:text="${umusuario.idade}"></td>
                        <td th:text="${umusuario.nickName}"></td>
                        <td th:text="${umusuario.email}"></td>
                        <td th:text="${umusuario.jogos}"></td>
                        <td th:text="${umusuario.endereco}"></td>
                        <td th:text="${umusuario.dataNascimento}"></td>
                        <td th:text="${umusuario.login}"></td>
                        <td th:text="${umusuario.senha}"></td>
                        <td>
                            <a th:href="@{'/usuario/alterar/'+${umusuario.id}}" class="btn btn-secondary">Alterar</a>
                            <button class="btn btn-danger js-delete"
                                    th:data-id="${umusuario.id}">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>      
        <div th:include="layout :: footer">(footer)</div>

        <script type="text/javascript">
            $(document).ready(function(){
                
                $("#usuarios").on('click', ".js-delete",function(){
                    let button = $(this);
                    bootbox.confirm("Confirma a exclusão do registro?",function(result){
                        if(result){
                            $.ajax({
                                url : "/usuario/delete/" + button.attr("data-id"),
                                method : "GET",
                                success : function(){
                                    window.location.href = "/usuario/";
                                }
                            })
                        }

                    });
                });

            });    
        </script>
    </body>
</html>