<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="container">
            <nav th:replace="layout :: menu">(menu)</nav>
            <a href="@{/agendamento/novo}" class="btn btn-primary">Novo Agendamento</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Descrição:</th>
                        <th>Horario:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" th:each="umagendamento : ${listaAgendamentos}"
                        class="table-primary">
                        <td th:text="${umagendamento.descricao}"></td>
                        <td th:text="${umagendamento.dataHora}"></td>
                    </tr>
                </tbody>
            </table>
        </div>      
        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>