<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:replace="layout :: htmlhead"></head>

    <body>
        <div class="">
            <nav th:replace="layout :: menu (buttons = ${ {{'link1','label1'},{'link2','label2'}} })">(menu)</nav>
            <div style="margin: 1% 0 0 2%">
                <a th:href="@{/agendamento/novo}" class="btn btn-secondary">+ Inserir Agendamento</a>
            </div>

            <div style="margin: 0 2% 0 2%;">
                <h5 style="text-align: center; margin: 1% 0 2% 0;">Agendamentos</h5>
                <table class="table table-striped" id="agendamentos">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Descrição</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" th:each="umagendamento : ${listaAgendamentos}">
                            <td>
                                <a th:href="@{'/agendamento/alterar/'+${umagendamento.id}}"><span class="glyphicon glyphicon-edit" style="color: black;"></span></a>
                                <a th:data-id="${umagendamento.id}" class="js-delete"> <span class="glyphicon glyphicon-trash" style="color: black;"></span></a>
                            </td>
                            <td th:text="${umagendamento.descricao}"></td>
                            <td th:text="${#dates.format(umagendamento.dataHora, 'dd/MM/yyyy HH:mm')}"></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
            
            <!-- <table class="table" id="agendamentos">
                <thead>
                    <tr>
                        <th>Descrição:</th>
                        <th>Horario:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" th:each="umagendamento : ${listaAgendamentos}">
                        <td th:text="${umagendamento.descricao}"></td>
                        <td th:text="${umagendamento.dataHora}"></td>
                        <td>
                            <a th:href="@{'/agendamento/alterar/'+${umagendamento.id}}" class="btn btn-secondary">Alterar</a>
                            <button class="btn btn-danger js-delete"
                                    th:data-id="${umagendamento.id}">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table> -->
        </div>      
        <div th:replace="layout :: footer">(footer)</div>

        <script type="text/javascript">
            $(document).ready(function(){
                
                $("#agendamentos").on('click', ".js-delete",function(){
                    let button = $(this);
                    bootbox.confirm("Deseja realmente deletar este registro?",function(result){
                        if(result){
                            $.ajax({
                                url : "/agendamento/delete/" + button.attr("data-id"),
                                method : "GET",
                                success : function(){
                                    window.location.href = "/agendamento/";
                                }
                            })
                        }

                    });
                });

            });    
        </script>
    </body>
</html>