<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:include="layout :: htmlhead"></head>

    <body>
        <div class="">
            <nav th:replace="layout :: menu">(menu)</nav>
            <div style="margin: 1% 0 0 2%">
                <a th:href="@{/jogo/novo}" class="btn btn-secondary">+ Inserir Jogo</a>
            </div>

            <div style="margin: 0 2% 0 2%;">
                <h5 style="text-align: center; margin: 1% 0 2% 0;">Jogos</h5>
                <table class="table table-striped" id="jogos">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome</th>
                            <th>Gênero</th>
                            <th>Plataformas</th>
                            <th>Modos</th>
                            <th>Data de Lançamento</th>
                            <th>Faixa Etária</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" th:each="umjogo : ${listaJogos}">
                            <td>
                                <a th:href="@{'/jogo/alterar/'+${umjogo.id}}"><span class="glyphicon glyphicon-edit" style="color: black;"></span></a>
                                <a th:data-id="${umjogo.id}" class="js-delete"> <span class="glyphicon glyphicon-trash" style="color: black;"></span></a>
                            </td>
                            <td th:text="${umjogo.nome}"></td>
                            <td th:text="${umjogo.genero}"></td>
                            <td th:text="${umjogo.plataformas}"></td>
                            <td th:text="${umjogo.modos}"></td>
                            <td th:text="${#dates.format(umjogo.dataLancamento, 'dd/MM/yyyy')}"></td>
                            <td th:text="${umjogo.faixaEtaria}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- <table class="table table-striped" id="jogos">
                <thead>
                    <tr>
                        <th>Nome:</th>
                        <th>Genero:</th>
                        <th>Plataformas:</th>
                        <th>Modos:</th>
                        <th>Data de Lançamento:</th>
                        <th>Faixa Etária:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" th:each="umjogo : ${listaJogos}">
                        <td th:text="${umjogo.nome}"></td>
                        <td th:text="${umjogo.genero}"></td>
                        <td th:text="${umjogo.plataformas}"></td>
                        <td th:text="${umjogo.modos}"></td>
                        <td th:text="${umjogo.dataLancamento}"></td>
                        <td th:text="${umjogo.faixaEtaria}"></td>
                        <td>
                            <a th:href="@{'/jogo/alterar/'+${umjogo.id}}" class="btn btn-secondary">Alterar</a>
                            <button class="btn btn-danger js-delete"
                                    th:data-id="${umjogo.id}">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table> -->
        </div>      
        <div th:include="layout :: footer">(footer)</div>

        <script type="text/javascript">
            $(document).ready(function(){
                
                $("#jogos").on('click', ".js-delete",function(){
                    let button = $(this);
                    bootbox.confirm("Deseja realmente deletar este registro?",function(result){
                        if(result){
                            $.ajax({
                                url : "/jogo/delete/" + button.attr("data-id"),
                                method : "GET",
                                success : function(){
                                    window.location.href = "/jogo/";
                                }
                            })
                        }

                    });
                });

            });    
        </script>
    </body>
</html>